*{
    font-size: 35px;
    margin: 10px;
    padding: 35px;
    border: 10px;
}
header *{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    

}

header *{
    margin: 70px;
}
header img{
    max-width: 500px;
    border-radius: 50%;
}
body{
    background-color: blue;
}